{# templates/Welcome/about.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Vault of Time{% endblock %}

{% block body %}
    <section class="mbr-section mbr-section--relative" id="msg-box5-1i" data-rv-view="50" style="background-color: rgb(193, 193, 193);">
        <div class="mbr-section__container mbr-section__container--isolated container" style="padding-top: 150px; padding-bottom: 150px;">
            <div lang="sv" ng-app="VoTApp" class="no-js"><vault-of-time-app></vault-of-time-app></div>
        </div>
    </section>
{% endblock %}