{# templates/Welcome/about.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Vault of Time{% endblock %}

{% block body %}
    <section class="mbr-section mbr-section--relative" id="msg-box5-1i" data-rv-view="50" style="background-color: rgb(193, 193, 193);">
        <div class="mbr-section__container mbr-section__container--isolated container" style="padding-top: 150px; padding-bottom: 150px;">
            <div lang="sv" ng-app="VoTApp" class="no-js"><vault-of-time-app></vault-of-time-app></div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <script src="/Assets/Scripts/VaultOfTimeApp/OfflineDB/People.js"></script>
    <script src="/Assets/Scripts/VaultOfTimeApp/OfflineDB/PeopleInProject.js"></script>
    <script src="/Assets/Scripts/VaultOfTimeApp/OfflineDB/Projects.js"></script>
    <script src="/Assets/Scripts/VaultOfTimeApp/OfflineDB/Tasks.js"></script>
    <script src="/Assets/Scripts/VaultOfTimeApp/OfflineDB/TimesForPerson.js"></script>

    <script src="/Assets/Scripts/VaultOfTimeApp/app.js"></script>
    <script src="/Assets/Scripts/VaultOfTimeApp/vault-of-time-app.directive.js"></script>

{% endblock %}
