<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>
            {% block title %}
                This is not the title you are looking for!
            {% endblock %}
        </title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700,400&subset=cyrillic,latin,greek,vietnamese">
            <link rel="stylesheet" href="{{ asset('/build/static.css') }}" />
        {% endblock %}
    </head>
    <body>
        <span id="HEADER">
            <section class="mbr-navbar mbr-navbar--freeze mbr-navbar--absolute mbr-navbar--sticky mbr-navbar--auto-collapse" id="ext_menu-x" data-rv-view="13">
                <div class="mbr-navbar__section mbr-section">
                    <div class="mbr-section__container container">
                        <div class="mbr-navbar__container">
                            <div class="mbr-navbar__column mbr-navbar__column--s mbr-navbar__brand">
                            <span class="mbr-navbar__brand-link mbr-brand mbr-brand--inline">
                                <span class="mbr-brand__logo"><a href="/"><img src="images/logo.png" class="mbr-navbar__brand-img mbr-brand__img" alt="Vault of Time"></a></span>
                                <span class="mbr-brand__name"><a class="mbr-brand__name text-white" href="/">VAULT OF TIME</a></span>
                            </span>
                            </div>
                            <div class="mbr-navbar__hamburger mbr-hamburger"><span class="mbr-hamburger__line"></span></div>
                            <div class="mbr-navbar__column mbr-navbar__menu">
                                <nav class="mbr-navbar__menu-box mbr-navbar__menu-box--inline-right">
                                    <div class="mbr-navbar__column">
                                        <ul class="mbr-navbar__items mbr-navbar__items--right float-left mbr-buttons mbr-buttons--freeze mbr-buttons--right btn-decorator mbr-buttons--active">
                                            <li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-white" href="/vot/">DEBUG</a></li>
                                            <li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-white" href="/">HOME</a></li>
                                            <li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-white" href="/About">ABOUT</a></li>
                                            <li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-white" href="/Contact">CONTACT</a></li></ul>
                                        <ul class="mbr-navbar__items mbr-navbar__items--right mbr-buttons mbr-buttons--freeze mbr-buttons--right btn-inverse mbr-buttons--active">
                                            <li class="mbr-navbar__item"><a class="mbr-buttons__btn btn btn-danger" href="/Authenticate">LOG IN</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </span>

        {% block body %}
        {% endblock %}

        <span id="FOOTER">
            <section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="contacts1-t" data-rv-view="4" style="background-color: rgb(60, 60, 60);">

                <div class="mbr-section__container container">
                    <div class="mbr-contacts mbr-contacts--wysiwyg row" style="padding-top: 45px; padding-bottom: 45px;">
                        <div class="col-sm-4">
                            <div><img src="./images/footer-logo.png" class="mbr-contacts__img mbr-contacts__img--left"></div>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mbr-contacts__text"><strong>AUTHORS</strong><br>
                                    bderidder@gmail.com<br>
                                    <span class="mbr-contacts__title">Quality Control, Coder</span><br>
                                    devel@liden.cx<br>
                                    <span class="mbr-contacts__title">Coder, Layout, Founder</span></p>
                                </div>
                                <div class="col-sm-4">
                                    <p class="mbr-contacts__text"><strong>CONTACTS</strong><br>
                                    Email: vot@coderspotting.com<br>
                                    Vault of Time, Belgium and Sweden<br>
                                    <a class="mbr-contacts__link text-gray" href="https://www.coderspotting.io/">(C) CoderSpotting.com</a></p>
                                </div>
                                <div class="col-sm-4">
                                    <p class="mbr-contacts__text">
                                        <strong>LINKS</strong>
                                    </p>
                                    <ul class="mbr-contacts__list">
                                        <li><a class="mbr-contacts__link text-gray" href="/Authenticate">Log In</a></li>
                                        <li><a class="mbr-contacts__link text-gray" href="/PhoneInfo">iOS and Android apps</a></li>
                                        <li><a class="mbr-contacts__link text-gray" href="/WindowsApp">Download for Windows</a></li>
                                        <li><a class="mbr-contacts__link text-gray" href="/MacApp">Download for Mac</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <footer class="mbr-section mbr-section--relative mbr-section--fixed-size" id="footer1-g" data-rv-view="0" style="background-color: rgb(68, 68, 68);">

                <div class="mbr-section__container container">
                    <div class="mbr-footer mbr-footer--wysiwyg row" style="padding-top: 36.9px; padding-bottom: 36.9px;">
                        <div class="col-sm-12">
                            <p class="mbr-footer__copyright"></p>
                        </div>
                    </div>
                </div>
            </footer>
        </span>

        {% block javascripts %}
            <script src="{{ asset('/build/static.js') }}"></script>
        {% endblock %}
    </body>
</html>
